.keyboard {
  position: relative;
  margin: 0;
  /*justify-content: flex-end;*/
}


input[type=range] {
  -webkit-appearance: none;
  width: 200px;
  height: 50px;
  background: transparent;
  outline: none;
}

.oscillator-class-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.osc1-wrapper {
  width: 370px;
  height: 120px;
  position: relative;
  border: 3px solid lightgray;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.osc2-wrapper {
  width: 370px;
  height: 120px;
  position: relative;
  border: 3px solid lightgray;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.dropdowns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropdown2-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.octave-dropdown {
  display: flex;
  width: 135px;
  flex-direction: column;

}
.osc1-text {
  margin-top: 20px;
  /*margin-left: 10px;*/
}

.osc2-text {
  margin-top: 20px;
  /*margin-left: 10px;*/
}

.wave-dropdown {
  display: flex;
  flex-direction: column;
  /*margin-left: 20px;*/
  width: 135;
}

.dropdown {
  width: 125px;
  height: 25px;
}

.wave-dropdown-content {
  width: 125px;
  height: 25px;
}

.wrap-text-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.label-switch-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lfo-title {
  margin-top: 8px;
}

.lfo-slider-container {
  display: flex;
  flex-direction: column;
}

.lfo-freq-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
}

.lfo-mix-text {
  padding-top: 12px;
  margin-right: 40px;
}

.lfo-freq-text {
  margin-top: 15px;
}

.lfo-mix-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
  margin-left: 15px;
}



.lfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 370px;
  height: 185px;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.distortion-text {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 25px;
}

.distortion-switch {
  margin-left: 52px;
}

.envelope-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 460px;
  height: 165px;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  margin-top: 10px;
  margin-left: 15px;


}

.envelope-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.envelope-title {
  margin-left: 130px;
  width: 100px;
}

.attack-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
}

.attack-text {
  margin-top: 20px;
  margin-left: 29px
}

.release-text {
  margin-top: 15px;
  margin-left: 15px;
}

.release-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
  margin-left: 15px;
}

.distortion-wrapper {
  display: block;
  flex-direction: row;
  justify-content: space-around;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  height: 80px;
  width: 200px;
  margin-top: 10px;
  margin-left: 15px;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  min-width: 1155px;
  /*min-height: 600px;*/
  /*background: linear-gradient(green, lightgreen);*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Josefin Slab";
  font-size: 20px;
  /*justify-content: space-between;*/

}

.synth-wrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid whitesmoke;
  justify-content: space-around;
  height: 100%;
}

.right-synth {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.low-pass-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 80px;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  margin-top: 10px;
  margin-right: 30px;
}
.low-pass-text {
  text-align: center;
  margin-top: 15px;
}

.low-pass-slider-wrapper {
  text-align: center;
}

.highpass-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 80px;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  /*margin-top: 30px;*/
  margin-right: 30px;
  margin-top: 10px
}

.highpass-text {
  padding-top: 15px;
  text-align: center;
}

.highpass-slider-wrapper {
  text-align: center;
}
.master-vol-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 80px;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  margin-top: 10px;
  margin-right: 30px;
}
.master-vol-text {
  padding-top: 15px;
  text-align: center;
}

.master-vol-slider-wrapper {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  /*background-color: #ca2222;*/
  /*-webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;*/
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #33cc33;
}

input:checked + .slider:before {
  -webkit-transform: translateX(54px);
  -ms-transform: translateX(54px);
  transform: translateX(54px);
}

.text:after {
  position: absolute;
  top: 7px;
  right: 25px;
  content: "Switch off";
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.text:before {
  position: absolute;
  top: 7px;
  left: 25px;
  content: "Switch on";
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.canvas {
  border: 2px solid black;
  justify-content: flex-end;
  width: 500px;
  height: 200px;
  margin: 0 auto;
  /*margin-top: 50px;*/
  margin-top: 4%;
}

.page-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keyboard-wrapper {
  /*width: 100%;*/
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-left: 2.5%;
  position: relative;
  bottom: 0;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 130px;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  margin-top: 25px;
  margin-right: 30px;
  text-align: center;
}

.credit {
  font-size: 12px;
}
.created {
  margin-top: 5px;
}

.github {
  text-decoration: none;
}

.distortion-download-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sound-player {
  width: 150px;
  border: 1px solid lightgrey;
}

audio {
  background-color: #F5F5F5;
}

.record-button {
  font-family: "Josefin Slab";
  margin-top: 4px;
  width: 100px;
  height: 32px;
  font-size: 18px;
}

.download-button {
  margin-top: 4px;
  font-family: "Josefin Slab";
  width: 100px;
  height: 32px;
  font-size: 18px;
}

.download-button:hover {
  background-color: #3fbef4
}

.record-button:hover {
  background-color: #3fbef4
}

.recorder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 248px;
  height: 80px;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 5px;
  text-align: center;
}


/**modal section/
/**/

.modal-button {
  width: 140px;
  height: 30px;
  margin: 0 auto;
  font-family: "Josefin Slab";
  font-size: 16px;
  margin-bottom: 5px;
}

.modal-button:hover {
  background-color: #e80b0b;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}


.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.description-container {
  width: 370px;
  display: flex;
  text-align: center;
}

.osc-description {
  display: none;
}

.lfo-description {
  display: none;
}

.distortion-description {
  display: none;
}

.record-description {
  display: none;
}

.envelope-description {
  display: none;
}

.lpf-description {
  display: none;
}

.hpf-description {
  display: none;
}

.help-title {
  font-weight: bold;
}

.record-help {
  font-weight: lighter;
}


/**/

.delay-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 185px;
  background-color: whitesmoke;
  border: 3px solid lightgray;
  margin-top: 10px;
  margin-right: 30px;
  width: 280px;
  /*margin-left: 10px;*/
  margin-bottom: 5px;
}

.delay-vol-slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
}

.delay-time-slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
}
.delay-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.delay-text {
  display: flex;
  justify-content: space-around;
}
.delay-title {
  margin-top: 8px;
}
.delay-vol-text {
  margin-top: 10px;
}

.delay-time-text {
  margin-top: 10px;
}
